
@{
    ViewBag.Title = "AdminSide";
}

<h2>Administrer Reiser, Kunder, Billetter</h2>

@Html.ActionLink("KundeListe", "KundeListe", new { tom = "" }, new { @class = "btn btn-primary" })


<a href="/Admin/Test">test</a>


