@{
    ViewBag.Title = "AdminSide";
}

<h2>Administrer Reiser, Kunder, Billetter</h2>

@Html.ActionLink("Logg ut", "LoggUt", new { tom = "" }, new { @class = "btn btn-danger" })

<br />
<br />
<br />

<a href="/Admin/ListeFlyplasser" class="btn btn-primary">Flyplass Liste</a>
<a href="/Admin/ListeReiser" class="btn btn-primary">Reise Liste</a>
<a href="/Admin/ListeKunder" class="btn btn-primary">Kunde Liste</a>
<a href="/Admin/ListeBilletter" class="btn btn-primary">Billett Liste</a>
