@model HyperWing.Model.Flyplasser

@{
    ViewBag.Title = "detaljerFlyplass";
}

<header>
    <link rel="stylesheet" href="~/Content/styles.css">
</header>

<h2>detaljerFlyplass</h2>

<div>
    <hr />
    <dl class="dl-horizontal containerStyle containerStyle2">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <p>
            @Html.ActionLink("Back to List", "ListeFlyplasser")
        </p>
    </dl>
</div>

